<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Moments of inertia</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/javascript" th:src="@{/momentOfInertia.js}"></script>

</head>
<body>

    <h1>Calculate moments of inertia</h1>

    <div>
        <h3>Moment of inertia of circular section</h3>
        <img class="img" th:src="@{/img/circle_section.gif}" alt=" Image lost :("/>

        <p>Circle diameter D =
            <input id="circle_dia" type="number" value="10" min="0"
                   onchange="calcCircleParam(this.value), MathJax.typeset()">
        </p>
        <hr/>

        <div id="circle_area">
            <p> Section area: </p>
            <div id="areaResult">
                <p>\[A= {{π * D^2} \over 4} = {{π * 10^2} \over 4}=78.540\]</p>
            </div>
            <hr/>
        </div>
        <div id="axial_moments">
            <p> Axial moments of inertia of section: </p>
            <div id="axialMomentsResult">
                <p>\[J_x= J_y= {{π * D^4} \over 64} = {{π * 10^4} \over 64}=490.874\]</p>
            </div>
            <hr/>
        </div>
        <div id="axial_resist_moments">
            <p> Axial moments of resistance of section: </p>
            <div id="axialResistMomentsResult">
                <p>\[W_x= W_y= {{π * D^3} \over 32} = {{π * 10^3} \over 32}=98.175\]</p>
            </div>
            <hr/>
        </div>
        <div id="polar_moment">
            <p> Polar moment of inertia of a section: </p>
            <div id="polarMomentResult">
                <p>\[J_p= {{π * D^4} \over 32} = {{π * 10^4} \over 32}=981.748\]</p>
            </div>
            <hr/>
        </div>
        <div id="polar_resist_moment">
            <p> Polar moment of resistance of a section: </p>
            <div id="polarResistMomentResult">
                <p>\[W_p= {{π * D^3} \over 16} = {{π * 10^3} \over 16}=169.350\]</p>
            </div>
            <hr/>
        </div>
    </div>

    <div>
        <h3>Moment of inertia of an annular section</h3>
        <img class="img" th:src="@{/img/tube_section.gif}" alt=" Image lost :("/>

        <p>External diameter D =
            <input id="tube_external_dia" type="number" value="12" min="0"
                   onchange="calcTubeParam(this.value, 0), MathJax.typeset()">
        </p>
        <p>Inner diameter d =
            <input id="tube_inner_dia" type="number" value="8" min="0"
                   onchange="calcTubeParam(0, this.value), MathJax.typeset()">
        </p>
        <hr/>

        <div id="tube_area">
            <p> Section area: </p>
            <div id="tubeAreaResult">
                <p>\[A= {{π * D^2} \over 4} - {{π * d^2} \over 4} = {{π * {(12^2-8^2)}} \over 4}= 62.832\]</p>
            </div>
            <hr/>
        </div>
        <div id="tube_alpha">
            <p> Diameter ratio: </p>
            <div id="tubeAlphaResult">
                <p>\[α= { d \over D} = { 8 \over 12}= 0.667\]</p>
            </div>
            <hr/>
        </div>
        <div id="tube_axial_moments">
            <p> Axial moments of inertia of section: </p>
            <div id="tubeAxialMomentsResult">
                <p>\[J_x= J_y= {{{π * D^4} \over 64}(1-α^4)} = {{{π * 12^4} \over 64}(1-0.67^4)}=816.814\]</p>
            </div>
            <hr/>
        </div>
        <div id="tube_axial_resist_moments">
            <p> Axial moments of resistance of section: </p>
            <div id="tubeAxialResistMomentsResult">
                <p>\[W_x= W_y= {{{π * D^3} \over 32}(1-α^4)} = {{{π * 12^3} \over 32}(1-0.67^4)}=136.136\]</p>
            </div>
            <hr/>
        </div>
        <div id="tube_polar_moment">
            <p> Polar moment of inertia of a section: </p>
            <div id="tubePolarMomentResult">
                <p>\[J_p= {{π * D^4} \over 32} = {{π * 10^4} \over 32}=1633.628\]</p>
            </div>
            <hr/>
        </div>
        <div id="tube_polar_resist_moment">
            <p> Polar moment of resistance of a section: </p>
            <div id="tubePolarResistMomentResult">
                <p>\[W_p= {{{π * D^3} \over 16}(1-α^4)} = {{{π * 10^3} \over 16}(1-α^4)}=272.271\]</p>
            </div>
            <hr/>
        </div>
    </div>

    <div>
        <h3>Moment of inertia of a rectangle</h3>
        <img class="img" th:src="@{/img/rect_section.gif}" alt=" Image lost :("/>

        <p>Rect width b =
            <input id="rect_width" type="number" value="12" min="0"
                   onchange="calcRectParam(this.value, 0), MathJax.typeset()">
        </p>
        <p>Rect height h =
            <input id="rect_height" type="number" value="8" min="0"
                   onchange="calcRectParam(0, this.value), MathJax.typeset()">
        </p>
        <hr/>

        <div id="rect_area">
            <p> Section area: </p>
            <div id="rectAreaResult">
                <p>\[A= {b * h} = {8 * 12} = 96.000\]</p>
            </div>
            <hr/>
        </div>
        <div id="rect_axial_moments">
            <p> Axial moments of inertia of section: </p>
            <div id="rectAxialMomentsResult">
                <p>\[J_x= {{b * h^3} \over 12} = {{8 * 12^3} \over 12} =512.000\]</p>
                <p>\[J_y= {{b^3 * h} \over 12} = {{8^3 * 12} \over 12} =1152.000\]</p>
            </div>
            <hr/>
        </div>
        <div id="rect_axial_resist_moments">
            <p> Axial moments of resistance of section: </p>
            <div id="rectAxialResistMomentsResult">
                <p>\[W_x= {{b * h^2} \over 6} = {{8 * 12^2} \over 6} =128.000\]</p>
                <p>\[W_y= {{b^2 * h} \over 6} = {{8^2 * 12} \over 6} =192.000\]</p>
            </div>
            <hr/>
        </div>
    </div>

    <div>
        <h3>Moment of inertia of an isosceles triangle</h3>
        <img class="img" th:src="@{/img/triangle_section.gif}" alt=" Image lost :("/>

        <p>Triangle width b =
            <input id="triangle_width" type="number" value="12" min="0"
                   onchange="calcTriangleParam(this.value, 0), MathJax.typeset()">
        </p>
        <p>Triangle height h =
            <input id="triangle_height" type="number" value="8" min="0"
                   onchange="calcTriangleParam(0, this.value), MathJax.typeset()">
        </p>
        <hr/>

        <div id="triangle_area">
            <p> Section area: </p>
            <div id="triangleAreaResult">
                <p>\[A= {{b * h} \over 2} = {{8 * 12} \over 2} = 48.000\]</p>
            </div>
            <hr/>
        </div>
        <div id="triangle_axial_moments">
            <p> Axial moments of inertia of section: </p>
            <div id="triangleAxialMomentsResult">
                <p>\[J_x= {{b * h^3} \over 36} = {{8 * 12^3} \over 36} = 170.667\]</p>
                <p>\[J_y= {{b^3 * h} \over 48} = {{8^3 * 12} \over 48} = 288.000\]</p>
            </div>
            <hr/>
        </div>
        <div id="triangle_axial_resist_moments">
            <p> Axial moments of resistance of section: </p>
            <div id="triangleAxialResistMomentsResult">
                <p>\[W_x= {{b * h^2} \over 24} = {{8 * 12^2} \over 24} = 32.000\]</p>
                <p>\[W_y= {{b^2 * h} \over 24} = {{8^2 * 12} \over 24} = 48.000\]</p>
            </div>
            <hr/>
        </div>
    </div>

    <div>
        <h3>Moment of inertia of a right triangle</h3>
        <img class="img" th:src="@{/img/right_triangle_section.jpg}" alt=" Image lost :("/>

        <p>Triangle width b =
            <input id="right_triangle_width" type="number" value="12" min="0"
                   onchange="calcRightTriangleParam(this.value, 0), MathJax.typeset()">
        </p>
        <p>Triangle height h =
            <input id="right_triangle_height" type="number" value="8" min="0"
                   onchange="calcRightTriangleParam(0, this.value), MathJax.typeset()">
        </p>
        <hr/>

        <div id="right_triangle_area">
            <p> Section area: </p>
            <div id="rightTriangleAreaResult">
                <p>\[A= {{b * h} \over 2} = {{8 * 12} \over 2} = 48.000\]</p>
            </div>
            <hr/>
        </div>
        <div id="right_triangle_axial_moments">
            <p> Axial moments of inertia of section: </p>
            <div id="rightTriangleAxialMomentsResult">
                <p>\[J_x= {{b * h^3} \over 36} = {{8 * 12^3} \over 36} = 170.667\]</p>
                <p>\[J_y= {{b^3 * h} \over 36} = {{8^3 * 12} \over 36} = 288.000\]</p>
            </div>
            <hr/>
        </div>
        <div id="right_triangle_centrifugal_moments">
            <p> Centrifugal moment of inertia: </p>
            <div id="rightTriangleCentrifugalMomentsResult">
                <p>\[J_{xy}= ±{{b^2 * h^2} \over 72} = ±{{8^2 * 12^2} \over 72} = ±128.000\]</p>
            </div>
            <hr/>
        </div>
        <div id="right_triangle_axial_resist_moments">
            <p> Axial moments of resistance of section: </p>
            <div id="rightTriangleAxialResistMomentsResult">
                <p>\[W_x= {{b * h^2} \over 24} = {{8 * 12^2} \over 24} = 32.000\]</p>
                <p>\[W_y= {{b^2 * h} \over 24} = {{8^2 * 12} \over 24} = 48.000\]</p>
            </div>
            <hr/>
        </div>
    </div>

</body>
</html>